[launchbox]
dir=C:\LaunchBox

[ael]
dir=%LOCALAPPDATA%\Packages\XBMCFoundation.Kodi_4n2hpmxwrvr6p\LocalCache\Roaming\Kodi\userdata\addon_data\plugin.program.advanced.emulator.launcher

[dosbox]
exe=C:\DosBox\dosbox.exe
args=-conf dosbox.conf -conf "{}"
